# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

.env.production
run_project.bat
